<!DOCTYPE html>
    <head>
        <title>Symfony 3 CRUD Application</title>
        <link rel="stylesheet" href="{{ absolute_url(asset('css/bootstrap.min.css')) }}" />
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <a class="navbar-brand" href="#">Symfony 3 CRUD ApplicationNavbar</a>
        </nav>
        <div class="container">
            <table class="table table-hover">
                <thead>
                    <tr>
                    <th scope="col">Type</th>
                    <th scope="col">Column heading</th>
                    <th scope="col">Column heading</th>
                    <th scope="col">Column heading</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="table-active">
                        <th scope="row">Active</th>
                        <td>Column content</td>
                        <td>Column content</td>
                        <td>Column content</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </body>
</html>